*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	/*outline: 1px purple solid;*/
	font-family: sans-serif;
}

.logo{
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
}

p{
	margin-top: 50px;
}